<nav class="navbar navbar-default">
 <div class="container-fluid">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
   </button>
   <a class="navbar-brand" href="#">Sample App</a>
  </div>
  <div class="collapse navbar-collapse" id="navbarEexample1">
   <ul class="nav navbar-nav">
    <li><a href="#"><%= link_to "Home", top_path, class: "glyphicon glyphicon-home home fa-2x" %></a></li>
    <li class="active"><a href="#"><%= link_to "Log in", new_user_session_path, class: "nav-list-item glyphicon glyphicon-log-in fa-2x" %></a></li>
    <li><a href="#"><%= link_to "Sign up", new_user_registration_path, class: "glyphicon glyphicon-edit fa-2x" %></a></li>
   </ul>
  </div>
 </div>
</nav>
<div class="media-area1">
 <div class="madia-area-content">
  <h1>Sample App</h1>
 </div>
</div>
<div class="main">
 <span>Portfolio</span>
 <div class="border"></div>
 <p3>Exsample</p3>
 <div class="border"></div>
 <div class="image-area">
  <div class="border"></div>
  <div class="img"></div>
  <div class="border"></div>
  <div class="img1"></div>
  <div class="border"></div>
  <div class="img2"></div>
  <div class="border"></div>
  <div class="img3"></div>
  <div class="border"></div>
  <div class="img4"></div>
  <div class="border"></div>
  <div class="img5"></div>
  <div class="border"></div>
 </div>
</div>
<div class="media-area3">
 <span>Function</span>
 <div class="border"></div>
 <p3>Image Post (Multiple）</p3><br>
 <p3>Delete　Edit　Search</p3><br>
 <p3>Comment　Like</p3><br>
 <p3>Follow　Follower</p3><br>
 <p3>Responsive</p3>
</div>

